<%- include("partials/header_with_data") %>
<div class="wrapAcct">
<h1>What will you like to do</h1> 
<div class="adminTasks">
    <a href=<%=link %>><input type="button" value="<%=linkData%>" class="profileMgt"></input></a>
</div>
<div class="adminTasks">
    <a href="/deleteAcct"><input type="button" value="Delete Your Account" class="deleteAcct"></input></a>
</div>
</div>


<%- include("partials/footer") %>