<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blog And Task App</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/images/logo.jpg">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Playfair+Display+SC&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript" src="/js/handleDeleteAcct.js"></script>
</head>
<div class="wrapAcct">
<h1>What will you like to do</h1> 
<div class="adminTasks">
    <a href=<%=link %>><input type="button" value="<%=linkData%>" class="profileMgt"></input></a>
</div>
<div class="adminTasks">
    <a onclick="handleDeleteAcct()" ><input type="button" value="Delete Your Account" class="deleteAcct"></input></a>
</div>
</div>


<%- include("partials/footer") %>