<%- include("partials/header_with_data") %>
<div class="wrap">
<h1>What will you like to do</h1> 
<div class="adminTasks">
    <a href="/admin/newPost"><input type="button" value="Make A Blog Post"></input></a>
</div>
<div class="adminTasks">
    <a href="/admin/editPost"><input type="button" value="Edit A Blog Post"></input></a>
</div>
<div class="adminTasks">
<a href="/admin/deletePost"><input type="button" value="Delete A Blog Post"></input></a>
</div>
<div class="adminTasks">
    <a href="/admin/registerAdmin"><input type="button" value="Register A New Admin"></input></a>
</div>

</div>


<%- include("partials/footer") %>
