<%- include("partials/header") %>
<div class="postChange">
   <h2><%= status %></h2>
   <a href=<%= adminRedirect %>><input type="button" value="OK" class="adminActionButtons"/></a> 
</div>

<%- include("partials/footer") %>