
    #root{
        height:100vh;
    }
    
    section{
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        height:auto;
        margin:auto 3.66vw;
    }
    
    body{
        background-color: rgb(3, 3, 94);
        margin: 0px;
    }
    a{
        text-decoration: none;
    }

    img{
        height: 45.66vh;
        width: 21.96vw;
    }

    .containerDiv{
        display: grid;
        text-align: center;
        margin:auto;
        border-radius: 10%;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: "section section";
    }
    
    .wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width:39.5vw;
        height:auto;
    }

    .wrapper h1{
        font-size: 1.756vw;
    }
    
    h1+button{
        border-radius: 3%;
    }
    
    .access,.access1{
        background: transparent;
        color:white;
        font-weight: bold;
        border: 1px solid grey;
        margin: 1.83vw auto;
        font-size: 1.31vw;
    }
    
    .access:hover{
        background: rgb(202, 202, 202);
        color:rgb(67, 67, 238);
    }
    
    .access1:hover{
        background: rgb(202, 202, 202);
        color:blueviolet;
    }
    
    button{
            padding: 0.58vw;
        }

@media only screen and (orientation:portrait){

    .containerDiv{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: "section";
        padding-top: 7.61vh;
    }

    .wrapper{
        width:39.5vh;
        height:auto;
    }

    section{
        margin-bottom: 7.61vh;
    }
    
    img {
        height: 45.66vw;
        width: 21.96vh;
    }

    button{
        padding: 0.58vh;
    }

    .access,.access1{
        margin: 1.83vh auto;
        font-size: 1.31vh;
    }

    .wrapper h1{
        font-size: 1.756vh;
    }

}

h1{
    text-align: center;
}

#section1{
    color: white;
background-color: rgb(67, 67, 238);
}
#section2{
    color: white;
    background-color: blueviolet;
}
 
.blogAccess{
    padding-top:6rem;
    text-align: center;
    background: linear-gradient(-135deg,rgb(235, 226, 226),rgb(138, 138, 248));
    height: 100vh;
}

.blogAccess input{
    padding:10px 20px;
    margin-right: 10px;
}

.blogAccess input:hover{
    border:2px solid green;
    font-weight: bold;
}

input[value = 'No']:hover{
    border:2px solid red;
}

.blogAccess h2{
    margin-top: 0px;
}

/*
particles style
*/
.particles{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;

}

.wrapper_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
  
}

#wrapperNav{
    display: flex;
    width: 100%;
    height: 100%;
}

@media only screen and (max-height:600px) and (orientation:landscape){
   .wrapper_container{
    margin-bottom: 15.22vh;
}
   }

   @media only screen and (min-height:700px) and (orientation:portrait){
       .wrapper{
            height: 35vh;
       }
   }
